body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(5,10,255,1) 0%, rgba(255,255,255,1) 51%);
}

.form {
    width: 100%;
    display: block;
}

.inputValue {
    list-style-type: none;
}

.five-day {
    width: 18%;
}


.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}